.container-main {
    background-color: #ffffff;
    padding: 10px 10px 20px;
    color: #000000;
}

.container-card {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-bottom: 1px hidden #fff;
    transition: 0.3s;
}

.container-control, .container-month, .container-week, .container-dates, .container-label, .container-header, .container-content, .container-user, .container-open {
    display: flex;
    flex-wrap: wrap;
}

.container-control {
    padding: 20px 0px;
    font-size: 20px;
}

.arrow {
    min-width: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.month {
    font-weight: bold;
}

.container-month {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.day-week, .day-last, .day-current, .day-next {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
    text-align: center;
}

.day-last, .day-current, .day-next {
    height: 3.5rem;
    font-size: 16px;
}

.day-current .occupied {
    background-color: #ff443a;
    width: 12vw;
    height: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    color: #ffffff;
}

.day-current .today {
    background-color: #ffffff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    width: 8vw;
    height: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    font-weight: bold;
    color: #ff443a;
}

.day-week{
    font-weight: bold;
}

.day-last, .day-next {
    font-size: 15px;
    color: #6b6b6b;
}

.label, .count {
    padding: 2vh 0px;
    font-weight: bold;
}

.label {
    flex: auto;
    font-size: 25px;
}

.count {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.count div{
    background-color: #6961ff;
    min-width: 5vh;
    margin-right: 1vh;
    padding: 3px 10px;
    border-radius: 50px;
    font-size: 16px;
    color: #ffffff;
}

.container-header {
    padding: 10px 0px;
}

.datetime {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #6b6b6b;
}

.concern {
    flex: auto;
    text-align: end;
    font-size: 20px;
    font-weight: bold;
    color: #ff443a ;
}

.container-user {
    flex: auto;
    justify-content: center;
    flex-direction: column;
    padding-left: 1vh;
}

.avatar img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.name {
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: bold;
}

.venue {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #6b6b6b;
}

.venue div{
    display: inline-block;
    padding-left: 1vh;
}

.container-open {
    min-width: 5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #6b6b6b;
}